---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';


import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Contact | Jezrel Dave"
    metacontent="Contact Jezrel Dave Sondia for collaboration of works. You can hire him."
>
	<Navigation></Navigation>
    <div class="min-h-screen bg-gray-700 flex flex-col items-center justify-center px-10">
        <ContactForm/>
    </div>
</Layout>
