---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import Card from '../components/Card.astro';

import { inject } from '@vercel/analytics';

inject();
---

<Layout title="Welcome to Astro.">
	<Navigation></Navigation>
	<main>
		<!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
		</ul> -->
		<Hero
			name="Jezrel Dave"
			position="Full Stack Developer"
		/>
	</main>
</Layout>

