---
export interface Props {
	name: string;
    position: string;
    image: string;
}

const { name, position, image } = Astro.props;

---

<div class="h-screen gradient-bg">
    <div class="flex h-screen justify-center items-center text-white">
        <div class="text-center"> 
            <h1 class="text-6xl mb-4 font-bold">
                Hi, I'm <span class="text-amber-400">{name}</span>
            </h1>
            <h2 class="text-amber-400 text-3xl mb-5">
                {position}
            </h2>
            <div class="flex justify-center">
                <div class="rounded-full border-4 p-4">
                    <img class="h-48"  src={image} alt="Jezrel Dave Vector"/>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .hero-section{
        background-color: #1b262c;
    }
    
    .gradient-bg {
        background: linear-gradient(-45deg, #ee7752, #4f36cf, #175ca6, #0dd19d);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }

@keyframes gradient {
	0% {
		background-position: 0% 75%;
	}
	50% {
		background-position: 100% 25%;
	}
	100% {
		background-position: 0% 75%;
	}
}
</style>