---

---

<div class="container bg-transparent mx-auto w-full h-full">
    <div class="relative wrap overflow-hidden md:p-10 h-full">
      <div class="border-2-2 absolute border-opacity-50 border-white h-full border timeline-line"></div>

      <!-- left timeline -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 flex-row md:flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12 hidden md:block text-white">Oct 2023 - Aug 2024</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-white font-semibold text-lg"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-right"  data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Mid Full-Stack Developer</h2>
            <h3 class="font-regular text-white text-base">Merit Technologies</h3>
          </div>
            <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
              <li>- Conducted in-depth consultations with clients to understand their specific needs and project goals</li>
              <li>- Translated client requirements into actionable technical specifications for development.</li>
              <li>- Leveraged Laravel's Eloquent ORM to efficiently handle database interactions and schema management.</li>
              <li>- Implemented user-friendly front-end solutions utilizing the Vue.js framework</li>
              <li>- Actively participated in daily stand-up meetings to keep clients informed of progress and address any concerns.</li>
              <li>- Developed and delivered high-quality, functional web applications within designated timelines</li>
            </ul>
        </div>
      </div>

      <!-- right timeline -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 items-center w-full right-timeline">
        <div class="order-1 w-5/12 hidden md:block text-end text-white">July 2022 - Nov 2023</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-white"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-left"  data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Full-Stack Web Developer</h2>
            <h3 class="font-regular text-white text-base">Tekmonks Inc.</h3>
          </div>
            <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
              <li>-Maintained complex technology infrastructure and collaborated with product team to implement new features and strategically plan for future products.</li>
              <li>-Developed efficient and maintainable software according to business objectives and needs of clients.</li>
              <li>-Used Javascript, SQL and HTML to develop app-solutions.</li>
              <li>-Contributed ideas and suggestions in team meetings and delivered updates on deadlines, designs and enhancements.</li>
              <li>-Attended daily scrum meetings with scrum master and team members</li>
              <li>-Contributed to project's documentation and training manuals</li>
              <li>-Improved open-source enterprise project of the company</li>
              <li>-Reviewed code, debugged problems and corrected issues.</li> 
            </ul>  
        </div>
      </div>
  
      <!-- left timeline -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 flex-row md:flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12 hidden md:block text-white">Jan 2019 - July 2022</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-white font-semibold text-lg"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-right"  data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Frontend Web Developer</h2>
            <h3 class="font-regular text-white text-base">Mega English Online, Inc.</h3>
          </div>
            <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
              <li>- Collaborated with a team of developers during development processes to confirm creative proposals and design best practices.</li>
              <li>- Assembled and addressed technical and design requirements, integrating user-facing and front-end elements to maintain web presence effectiveness.</li>
              <li>- Followed the best practices within Agile environment to produce rapid iterations for clients.</li>
              <li>- Tested web-based product functionality and delivered iterations to clients.</li>
              <li>- Coded using Vue and Vuetify to develop features for both mobile and desktop platforms.</li>
              <li>- Identified and resolved website performance flags to improve functionality.</li>
              <li>- Delivered responsive web design projects in Agile framework. Identified bottlenecks and bugs and devised solutions.</li>
            </ul>
        </div>
      </div>
      
      <!-- right timeline -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 items-center w-full right-timeline">
        <div class="order-1 w-5/12 hidden md:block text-end text-white">June 2018 - Dec 2018</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-white"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-left"  data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Android Developer</h2>
            <h3 class="font-regular text-white text-base">Mega English Online, Inc.</h3>
          </div>
          <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
            <li>- Designed user interfaces that engaged multiple senses and produced immersive experiences.</li>
            <li>- Used third-party libraries, custom libraries and APIs to develop new applications.</li>
            <li>- Incorporated offline storage, performance tuning and threading into apps for seamless use.</li>
            <li>- Ensure that the android application would run on latest devices and android versions</li>
            <li>- Analyzed applications to identify and document weaknesses and errors.</li>
          </ul>
        </div>
      </div>
    
    </div>
  </div>
  
  <style>
    .timeline-line{
      left: 50%;
    }
    
    li{
        margin-bottom: 10px;
      }
    
    @media only screen and (max-width: 767px) {
      .timeline-line{
        left: 15px;
      }
    }
  </style>