---

---

<div class="container bg-transparent mx-auto w-full h-full">
    <div class="relative wrap overflow-hidden md:p-10 h-full">
      <div class="border-2-2 absolute border-opacity-50 border-white h-full border timeline-line"></div>

      <!-- left timeline - Brand Guarde -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 flex-row md:flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12 hidden md:block text-white">June 2024 - Present</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-white font-semibold text-lg"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-right" data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Full-Stack Web Developer</h2>
            <h3 class="font-regular text-white text-base">Brand Guarde</h3>
          </div>
          <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
            <li>- Utilized Angular for developing front-end interface, creating dynamic and responsive user experiences</li>
            <li>- Developed back-end using Ruby on Rails, handling server-side logic and database interactions</li>
            <li>- Identified, analyzed, and fixed multiple bugs within the system to improve stability and performance</li>
            <li>- Actively participated in regular scrum meetings as part of an Agile environment</li>
            <li>- Managed project tasks, workflows, and documentation using Notion</li>
            <li>- Employed Git for version control and utilized GitHub for managing issues and facilitating team collaboration</li>
            <li>- Developed through Window Subsystem for Linux (WSL)</li>
          </ul>
        </div>
      </div>

      <!-- right timeline - Backtrack -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 items-center w-full right-timeline">
        <div class="order-1 w-5/12 hidden md:block text-end text-white">April 2024 - May 2025</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-white"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-left" data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Shopify Web Developer</h2>
            <h3 class="font-regular text-white text-base">Backtrack</h3>
          </div>
          <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
            <li>- Developed and customized Shopify themes using HTML, CSS, and Javascript</li>
            <li>- Worked extensively with Liquid, Shopify's templating language</li>
            <li>- Managed and updated themes directly through the Shopify admin panel</li>
            <li>- Integrated with Google API to pull in business reviews</li>
            <li>- Interfaced with NetSuite for managing product inventory</li>
            <li>- Utilized Celigo to connect NetSuite and Shopify for seamless data flow</li>
          </ul>
        </div>
      </div>

      <!-- left timeline - TopVA -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 flex-row md:flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12 hidden md:block text-white">Feb 2024 - May 2025</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-white font-semibold text-lg"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-right" data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Technical Virtual Assistant</h2>
            <h3 class="font-regular text-white text-base">TopVA</h3>
          </div>
          <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
            <li>- Managed and built websites on WordPress, Wix, Webflow, and Squarespace</li>
            <li>- Worked with marketing automation and CRM platforms like GoHighLevel</li>
            <li>- Managed email marketing campaigns using Mailchimp and ActiveCampaign</li>
            <li>- Implemented automations and integrations using Zapier</li>
            <li>- Managed domains and DNS settings through GoDaddy and Cloudflare</li>
            <li>- Created visual content using Canva and managed projects with Asana</li>
            <li>- Managed user memberships and content access using Memberstack</li>
          </ul>
        </div>
      </div>

      <!-- right timeline - Merit Technologies -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 items-center w-full right-timeline">
        <div class="order-1 w-5/12 hidden md:block text-end text-white">Oct 2023 - Aug 2024</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-white"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-left" data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Mid Full-Stack Developer</h2>
            <h3 class="font-regular text-white text-base">Merit Technologies</h3>
          </div>
          <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
            <li>- Conducted in-depth consultations with clients to understand their needs</li>
            <li>- Leveraged Laravel's Eloquent ORM for database management</li>
            <li>- Implemented user-friendly front-end solutions with Vue.js</li>
            <li>- Participated in daily stand-up meetings for progress updates</li>
            <li>- Delivered high-quality web applications within timelines</li>
          </ul>
        </div>
      </div>

      <!-- left timeline - Tekmonks -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 flex-row md:flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12 hidden md:block text-white">June 2022 - Nov 2023</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-white font-semibold text-lg"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-right" data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Full-Stack Web Developer</h2>
            <h3 class="font-regular text-white text-base">Tekmonks Inc.</h3>
          </div>
          <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
            <li>- Maintained complex technology infrastructure and implemented new features</li>
            <li>- Developed solutions using JavaScript, Node.js, SQL and HTML</li>
            <li>- Participated in daily scrum meetings and team collaborations</li>
            <li>- Contributed to documentation and improved open-source projects</li>
            <li>- Reviewed code and resolved technical issues</li>
          </ul>
        </div>
      </div>

      <!-- right timeline - Remotasks -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 items-center w-full right-timeline">
        <div class="order-1 w-5/12 hidden md:block text-end text-white">June 2020 - March 2023</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-white"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-left" data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Data Annotator</h2>
            <h3 class="font-regular text-white text-base">Remotasks</h3>
          </div>
          <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
            <li>- Reviewed and ensured task quality for company's clients</li>
            <li>- Participated in 2D and lidar (3D) data annotation tasks</li>
            <li>- Annotated and labeled road objects accurately</li>
          </ul>
        </div>
      </div>

      <!-- left timeline - Mega English Frontend -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 flex-row md:flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12 hidden md:block text-white">Jan 2019 - July 2022</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-white font-semibold text-lg"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-right" data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Frontend Web Developer</h2>
            <h3 class="font-regular text-white text-base">Mega English Online, Inc.</h3>
          </div>
          <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
            <li>- Collaborated with development team on creative proposals and best practices</li>
            <li>- Developed features using Vue.js and Vuetify for multiple platforms</li>
            <li>- Followed Agile practices and delivered rapid iterations</li>
            <li>- Improved website performance and resolved technical issues</li>
            <li>- Created responsive designs and optimized user experience</li>
          </ul>
        </div>
      </div>

      <!-- right timeline - Mega English Android -->
      <div class="mb-8 flex justify-start md:justify-between gap-x-5 items-center w-full right-timeline">
        <div class="order-1 w-5/12 hidden md:block text-end text-white">Feb 2018 - Dec 2018</div>
        <div class="z-20 flex items-center order-1 bg-yellow-400 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-white"></h1>
        </div>
        <div class="order-1 rounded-xl shadow-xl w-10/12 md:w-5/12" data-aos="fade-left" data-aos-duration="2000">
          <div class="bg-sky-900 px-6 py-4 rounded-t-xl">
            <h2 class="font-bold text-white text-xl">Android Developer</h2>
            <h3 class="font-regular text-white text-base">Mega English Online, Inc.</h3>
          </div>
          <ul class="text-sm bg-white rounded-b-xl leading-snug tracking-wide text-gray-900 text-opacity-100 px-6 py-4">
            <li>- Designed engaging user interfaces for immersive experiences</li>
            <li>- Integrated third-party libraries and APIs for new features</li>
            <li>- Implemented offline storage and performance optimizations</li>
            <li>- Ensured compatibility with latest Android versions</li>
            <li>- Analyzed and documented application improvements</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <style>
    .timeline-line{
      left: 50%;
    }
    
    li{
        margin-bottom: 10px;
    }
    
    @media only screen and (max-width: 767px) {
      .timeline-line{
        left: 15px;
      }
    }
  </style>