---
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';

import BlogCard from '../../components/BlogCard.astro';

const blogList = await Astro.glob("./*.mdx")

---

<Layout title="Blogs | Jezrel Dave"
    metacontent="Blogs that are related to programming and fixing issues"
>
	<Navigation></Navigation>
    <div class="pt-28 px-5 flex flex-col justify-center md:flex-row md:justify-start gap-10">
        {
            blogList.map((blog) => <BlogCard {blog}></BlogCard>)
        }
    </div>
</Layout>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
</style>
