---

---

<div class="p-5 pt-20 bg-gradient-to-b from-gray-700 to-gray-500" id="experiences">
    <h1 class="text-3xl md:text-5xl text-center font-bold tracking-widest mb-5 text-white">EXPERIENCES</h1>
    <slot></slot>
</div>