---

---

<div class="p-5 pt-20 bg-gradient-to-b from-gray-800 to-gray-700" id="stacks">
    <h1 class="text-3xl md:text-5xl text-center font-bold mb-5 tracking-widest text-white">STACKS</h1>
    <slot></slot>
</div>